<hr>
Контрольная работа №1. 
<p>Вострикова Екатерина Ивановна</p> 
<p>Стадия реализации проекта: 
    Блоков сделано 4-5, два из них из последней теории.
    Хотя то, как они рабоают, не конечный результат как по мне и работать они должны сложнее, многофункциональнее.
    Всего, думаю, штук 6-7 будет.</p>
<p>Помощь нужна в оформлении?? Не знаю, я в нем и стилях постоянно путаюсь.... Забываю или просто не понимаю куда, что, зачем нужно писать и тд. 
    Еще мб в привязке, много вкладок, много текста, а что и куда писать непонятно. 
    Типа, что-то написать или скопировать я могу, функции нужные найду, 
    но я очень хочу поспеть за логикой работы с совершенно новым для меня языком (почему это работает так, что конкретно происходит), а с этим у меня проблемы, не знаю, как-то не успеваю.</p>
    <hr>